version: "3.1"
services:
  db:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=xyz123
      - POSTGRES_HOST=localhost
    volumes:
      - dbdata:/var/lib/postgresql/data/
      - /app/queries/food.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '5432:5432'
  api:
    container_name: nodejs
    image: neslihancakir/nodejs
    depends_on:
      - db
    ports:
      - 8080:8080
    links:
      - db
    environment:
      DB_USER: dbuser
      DATABASE_PASSWORD: password
      DB_HOST: localhost
      DB_PORT: 5432
      PORT: 8080
      DB_DATABASE: postgres
      NODE_ENV: production
      DATABASE_URL: testurl
    command: node server.js
    volumes:
      - .:/var/www/html  

volumes:
  dbdata: